.about {
	min-height: 506px;
	background: #F6F6F6;
	padding: 120px 0 107px 0;
	&__wrapper {
		height: 218px;
		width: 365px;
		margin: 18px auto 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}